html {
    background-color: black;
    color: white;

    font-family: courier;
}

#aphex-page {
    color: white;
    width: 100%;
    font-size: 1.5em;

    #countdown-container {
        padding-top: 30px;
        margin-left: 5%;
        margin-top: 13%;
    }

    .aphex-gif {
        float: right;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);

        padding-top: 50px;
    }

    .aphexDotPadding {
        display: inline;
        letter-spacing: -5px;
    }
}