html {
    background-color: black;
    color: white;

    font-family: courier;
}

#aphex-page {
    color: white;
    width: 100%;
    font-size: 1.5em;

    #aphex-console {
        position: absolute;

        top: 50%;
        left: 0;
        width: 50%;
        height: 300px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);

        margin-left: 5%;
        max-width: 50%;

        overflow: hidden;
    }

    #aphex-gif-container {
        position: absolute;
        float: right;
        top: 50%;
        right: 0;
        width: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);

        padding-top: 50px;
        text-align: center;

        img {

        }
    }

    .aphexDotPadding {
        display: inline;
        //letter-spacing: -5px;
    }
}
